@using GroupProject.Database.ModelsExtensions
@using GroupProject.Database.ModelsGenerated

@{
    IPerson currentUser = ViewData["currentUser"] as IPerson;
    string currentLink = ViewData["currentLink"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Информационная система для УК</title>
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <h3>Управляющая компания "Название УК"</h3>
        <div class="navbar-collapse collapse">
            <ul class="nav nav-pills">
                <li link="About">@Html.ActionLink("О нас", "About", "Menu")</li>
                <li link="InformationBlocks">@Html.ActionLink("Новости", "InformationBlocks", "Menu")</li>
                <li link="PersonalCabinet">@Html.ActionLink("Личный кабинет", "PersonalCabinet", "Menu")</li>
                @if (currentUser != null)
                {
                    <li link="FinancialStatements">@Html.ActionLink("Отчетность", "FinancialStatements", "Menu")</li>
                    <li link="Deptors">@Html.ActionLink("Должники", "Deptors", "Menu")</li>
                }
                <li link="Contacts">@Html.ActionLink("Контакты", "Contacts", "Menu")</li>
                @if (currentUser is Employee)
                {
                    <li link="Tags">@Html.ActionLink("Теги", "Tags", "Menu")</li>
                }
            </ul>
        </div>
        <div>@Html.Action("LoginInformation", "Menu")</div>
        <div>@Html.Action("HouseInformation", "Menu")</div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        @RenderBody()
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("li[link='@currentLink'").addClass("active");
    });
</script>
</body>
</html>