<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Информационная система для УК</title>
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div>Управляющая компания "Название УК"</div>
    <div>@Html.Action("LoginInformation", "Menu")</div>
    <div>
        <ul>
            <li>@Html.ActionLink("О нас", "About", "Menu")</li>
            <li>@Html.ActionLink("Новости", "News", "Menu")</li>
            <li>@Html.ActionLink("Личный кабинет", "PersonalCabinet", "Menu")</li>
            <li>@Html.ActionLink("Контакты", "Contacts", "Menu")</li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        Текущее время: @DateTime.Now
    </footer>
</body>
</html>