@using GroupProject.Models
@model GeneralInformationModel

<div id="ResidentInformation">
    @Html.LabelFor(g => g.FullName)
    <br />
    @Html.TextBoxFor(g => g.FullName)
    @Html.ValidationMessageFor(g => g.FullName)
    <br />
    @Html.LabelFor(g => g.PhoneNumber)
    <br />
    @Html.TextBoxFor(g => g.PhoneNumber)
    @Html.ValidationMessageFor(g => g.PhoneNumber)
    <button id="UpdateGeneralInformation" value="Редактировать"></button>
</div>
<div id="SettingInformation">
    @Html.LabelFor(g => g.SettingNumber)
    <br />
    @Html.TextBoxFor(g => g.SettingNumber)
    @Html.ValidationMessageFor(g => g.SettingNumber)
    <br />
    @Html.LabelFor(g => g.Entrance)
    <br />
    @Html.TextBoxFor(g => g.Entrance)
    @Html.ValidationMessageFor(g => g.Entrance)
    <br />
    @Html.LabelFor(g => g.Size)
    <br />
    @Html.TextBoxFor(g => g.Size)
    @Html.ValidationMessageFor(g => g.Size)
    <br />
    @Html.LabelFor(g => g.RoomsNumber)
    <br />
    @Html.TextBoxFor(g => g.RoomsNumber)
    @Html.ValidationMessageFor(g => g.RoomsNumber)
    <button id="UpdateSettingInformation" value="Редактировать"></button>
</div>