@using System.Web.UI.WebControls
@using GroupProject.Database.ModelsExtensions
@using GroupProject.Database.ModelsGenerated
@using GroupProject.Enums
@using GroupProject.Models
@model RequestProgressModel

@{
    IPerson currentUser = ViewData["currentUser"] as IPerson;
    int requestStatusId = Model.Request.Status.Id;
}

<div id="RequestProgressContent" class="col-md-8">
    <div class="row">
        <button id="BackToRequests" class="btn btn-info btn-sm">Назад к запросам</button>
    </div>
    <br />
    @if (currentUser is Employee && requestStatusId != (int) RequestStatus.Closed)
    {
        <div class="row">
            <button id="CloseRequest" class="btn center-block btn-lg">Закрыть заявку</button>
        </div>
    }
    <div id="RequestContent">
        <div id="RequestStatus" class="row">
            <b>Статус заявки:</b><span class="request-progress-status">@Model.Request.Status.Name</span>
        </div>
        <div class="row">
            <div id="Request">
                <h4>Заявка №@Model.Request.RequestId</h4>
                Создатель заявки: @Model.Request.ResidentFullName
                <br />
                Дата создания: @Model.Request.Date
                <br />
                Тема: @Model.Request.Theme
                <br />
                Заявка: @Model.Request.Body
                <br />
                @if (Model.Request.Files.Any())
                {
                    <span>Прикрепленные файлы:</span>
                    foreach(string fileName in Model.Request.Files)
                    {
                        string pathToFile = "\\Request_" + Model.Request.RequestId + "\\" + fileName;
                        @Html.ActionLink(fileName, "GetImage", new { filePath = pathToFile }, new {target = "_blank"})
                        <br />
                    }
                }
            </div>
        </div>
        <div id="Replies" class="row">
            @foreach (ReplyModel reply in Model.Replies)
            {
                <div class="reply">
                    @reply.EmployeeFullName
                    <br/>
                    @reply.Date
                    <br/>
                    @reply.Body
                    <br/>
                    @foreach (string fileName in reply.Files)
                    {
                        string pathToFile = "\\Reply_" + reply.ReplyId + "\\" + fileName;
                        @Html.ActionLink(fileName, "GetImage", new {filePath = pathToFile}, new {target = "_blank"})
                        <br/>
                    }
                </div>
            }
        </div>
    </div>
    @if (currentUser is Employee && requestStatusId != (int) RequestStatus.Closed)
    {
        <div class="row">
            <button id="AnswerInRequest" class="btn btn-primary center-block btn-lg">Ответить на заявку</button>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#CloseRequest").on("click",
            function() {
                $.ajax({
                    url: "@Url.Action("CloseRequest")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        requestId: @Model.Request.RequestId
                    },
                    success: function(data) {
                        if (data.result) {
                            alert("Заявка была успешно закрыта!");
                            $.ajax({
                                url: "@Url.Action("RenderRequests")",
                                type: "GET",
                                data: filterPanelData,
                                success: function(data) {
                                    $("#RequestsGridWrapper").replaceWith(data);
                                }
                            });
                            $.ajax({
                                url: "@Url.Action("GetRequestProgress")",
                                type: "GET",
                                data: {
                                    requestId: @Model.Request.RequestId
                                },
                                success: function(data) {
                                    if (data) {
                                        $("#RequestProgressContent").replaceWith(data);
                                    } else {
                                        alert("Произошла ошибка при обновлении информации о заявке");
                                    }
                                }
                            });
                        } else {
                            alert("Во время закрытия заявки произошла ошибка");
                        }
                    }
                });
            });

        $("#AnswerInRequest").on("click",
            function() {
                $.ajax({
                    url: "@Url.Action("RenderSendReply")",
                    type: "GET",
                    data: {
                        requestId: @Model.Request.RequestId
                    },
                    success: function(data) {
                        $("#AnswerInRequest").replaceWith(data);
                    }
                });
            });

        $("#BackToRequests").on("click",
            function() {
                $("#ContentWrapper #RequestProgressContent").remove();
                $("#ResidentRequestsContent").show();
            });

        $(".request-progress-status").addClass(getStatusColour("@(((RequestStatus)Model.Request.Status.Id).ToString())"));
    });

    function getStatusColour(statusName) {
        debugger;
        var colour = "";
        switch (statusName) {
            case "Waiting":
                colour = "request-status-waiting";
                break;
            case "UnderConsideration":
                colour = "request-status-under-consideration";
                break;
            case "Closed":
                colour = "request-status-closed";
                break;
        }
        return colour;
    }

</script>