@using GroupProject.Models
@model ResidentGeneralInformationModel

@{
    List<string> addresses = (ViewData["addresses"] as List<string>) ?? new List<string>();
    IEnumerable<SelectListItem> addressesItems = addresses.Select(a => new SelectListItem()
    {
        Text = a,
        Value = a
    });
}

<div id="GeneralInformation" col->
    @{Html.RenderPartial("_UserInformation", Model.User);}
    @if (Model.Setting != null)
    {
        <div class="row">
            <div id="SettingInformation" class="form-group col-md-4 col-md-offset-2">
                <div class="form-group">
                    @Html.LabelFor(g => g.Setting.Address)
                    @Html.DropDownListFor(g => g.Setting.Address, addressesItems, new { @class = "form-control" })
                    @Html.ValidationMessageFor(g => g.Setting.Address)
                </div>
                <div class="form-group">
                    @Html.LabelFor(g => g.Setting.SettingNumber)
                    @Html.TextBoxFor(g => g.Setting.SettingNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(g => g.Setting.SettingNumber)
                </div>
                <div class="form-group">
                    @Html.LabelFor(g => g.Setting.Entrance)
                    @Html.TextBoxFor(g => g.Setting.Entrance, new { @class = "form-control" })
                    @Html.ValidationMessageFor(g => g.Setting.Entrance)
                </div>
                <div class="form-group">
                    @Html.LabelFor(g => g.Setting.Size)
                    @Html.TextBoxFor(g => g.Setting.Size, new { @class = "form-control" })
                    @Html.ValidationMessageFor(g => g.Setting.Size)
                </div>
                <div class="form-group">
                    @Html.LabelFor(g => g.Setting.RoomsNumber)
                    @Html.TextBoxFor(g => g.Setting.RoomsNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(g => g.Setting.RoomsNumber)
                </div>
                <button id="UpdateSettingInformation" class="btn btn-primary center-block">Редактировать</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#UpdateSettingInformation").on("click",
            function() {
                var dataToUpdate = {
                    Address: $("#Setting_Address").val(),
                    SettingNumber: $("#Setting_SettingNumber").val(),
                    Entrance: $("#Setting_Entrance").val(),
                    Size: $("#Setting_Size").val(),
                    RoomsNumber: $("#Setting_RoomsNumber").val()
                };
                $.ajax({
                    url: "@Url.Action("UpdateSettingInformation")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        settingModel: dataToUpdate
                    },
                    success: function(data) {
                        if (data.result) {
                            alert("Информация о квартире обновлена!");
                        }
                        else {
                            alert("Во время обновления информации о квартире произошла ошибка");
                        }
                    }
                });
            });
    });
</script>