<head>
    @Styles.Render("~/Content/themes/base/jquery.ui.all.css")
    @Styles.Render("~/Content/jquery.jqGrid/ui.jqgrid.css")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.0.min.js")
    @Scripts.Render("~/Scripts/jquery.jqGrid.min.js")
</head>

<body>
    <table id="Requests"></table>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        $("#Requests").jqGrid({
            url: "@Url.Action("GetRequests")",
            datatype: "json",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                cell: "",
                id: "Id",
                repeatitems: false
            },
            colNames: [ "Номер", "Идентификатор запроса", "Название", "Статус", "Дата создания", "Действие" ],
            colModel: [
                { name: "Id", index: "Id", width: 30 },
                { name: "RequestId", index: "RequestId", hidden: true },
                { name: "Theme", index: "Theme", width: 250, stype: "text" },
                { name: "Status", index: "Status", width: 250 },
                { name: "Date", index: "Date", width: 100 },
                { name: "ViewAction", index: "ViewAction", width: 50,
                    editoptions: {
                        dataInit:
                            function(element) {
                                $(element).on("click",
                                    function() {
                                        console.log("IT WORKS!");
                                    });
                            }
                    }
                }
            ],
            rowNum: 10,
            loadonce: true,
            sortname: "Id",
            sortorder: "asc",
            caption: "Список заявок"
        });
    });
</script>
