@using GroupProject.Models
@model SendReplyModel

<div id="ReplyContent">
    <div class="form-group">
        <div class="form-group">
            @Html.LabelFor(r => r.Body)
            @Html.TextAreaFor(r => r.Body, new { @class = "form-control", rows = "5" })
        </div>
        <div class="form-group">
            @Html.LabelFor(r => r.Files)
            <input type="file" id="Files" class="form-control" multiple />
        </div>
        <button id="SendReply" class="btn btn-primary center-block">Ответить на заявку</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#SendReply").on("click",
            function() {
                var formData = new FormData();
                formData.append("RequestId", @Model.RequestId);
                formData.append("Body", $("#Body").val());
                var files = $("#Files").prop("files");
                for (let i = 0; i < files.length; i++) {
                    formData.append("Files[" + i + "]", files[i]);
                }
                $.ajax({
                    url: "@Url.Action("SendReply")",
                    type: "POST",
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function(data) {
                        if (data.result) {
                            alert("Ответ на заявку успешно отправлен!");
                            $.ajax({
                                url: "@Url.Action("GetRequestProgress")",
                                type: "GET",
                                data: {
                                    requestId: @Model.RequestId
                                },
                                success: function(data) {
                                    if (data) {
                                        $("#RequestProgressContent").replaceWith(data);
                                    }
                                    else {
                                        alert("Произошла ошибка при обновлении информации о заявке");
                                    }
                                }
                            });
                        }
                        else {
                            alert("Во время отправки ответа на заявку произошла ошибка");
                        }
                    }
                });
            });
    });
</script>