@using GroupProject.Models
@model UserModel

<div id="UserInformation">
    <div class="row">
        <div class="form-group col-md-4 col-md-offset-2">
            <div class="form-group">
                @Html.LabelFor(g => g.FullName)
                @Html.TextBoxFor(g => g.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(g => g.FullName)
            </div>
            <div class="form-group">
                @Html.LabelFor(g => g.PhoneNumber)
                @Html.TextBoxFor(g => g.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(g => g.PhoneNumber)
            </div>
            <button id="UpdateGeneralInformation" class="btn btn-primary center-block">Редактировать</button>
        </div>
    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#UpdateGeneralInformation").on("click",
            function() {
                var dataToUpdate = {
                    FullName: $("#FullName").val(),
                    PhoneNumber: $("#PhoneNumber").val()
                };
                $.ajax({
                    url: "@Url.Action("UpdateGeneralInformation")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        userModel: dataToUpdate
                    },
                    success: function(data) {
                        if (data.result) {
                            alert("Личные данные обновлены!")
                        } else {
                            alert("Во время обновления личных данных произошла ошибка");
                        }
                    }
                });
            });
    });
</script>
