@using GroupProject.Models
@model LoginModel
@{
    ViewBag.Title = "Login";
}

<body>
    <div class="col-md-4 col-md-offset-4">
        @using (Html.BeginForm("Login", "Menu", FormMethod.Post, new { @class = "form-group" }))
        {
            <div class="form-group">
                @Html.LabelFor(l => l.PhoneNumber)
                @Html.TextBoxFor(l => l.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(l => l.PhoneNumber)
            </div>
            <div class="form-group">
                @Html.LabelFor(l => l.Password)
                @Html.PasswordFor(l => l.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(l => l.Password)
            </div>
            <input type="submit" value="Войти" class="btn btn-primary center-block" />
        }
        <div class="col-md-6 col-md-offset-3">
            @Html.ActionLink("Зарегистрироваться", "Register", null, new { @class = "btn btn-primary center-block" })
        </div>
    </div>
</body>