@using GroupProject.Models
@model RegistrationModel
@{
    List<string> addresses = (ViewData["addresses"] as List<string>) ?? new List<string>();
    IEnumerable<SelectListItem> addressesItems = addresses.Select(a => new SelectListItem()
    {
        Text = a,
        Value = a
    });
}

<body>
    @using (Html.BeginForm("Register", "Menu", FormMethod.Post, new { @class = "form-group col-md-4 col-md-offset-4" }))
    {
        <div class="form-group">
            @Html.LabelFor(r => r.Surname)
            @Html.TextBoxFor(r => r.Surname, new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.Surname)
        </div>
        <div class="form-group">
            @Html.LabelFor(r => r.Name)
            @Html.TextBoxFor(r => r.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(r => r.Patronymic)
            @Html.TextBoxFor(r => r.Patronymic, new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.Patronymic)
        </div>
        <div class="form-group">
            @Html.LabelFor(r => r.PhoneNumber)
            @Html.TextBoxFor(r => r.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.PhoneNumber)
        </div>
        <div class="form-group">
            @Html.LabelFor(r => r.Password)
            @Html.PasswordFor(r => r.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(r => r.Address)
            @Html.DropDownListFor(r => r.Address, addressesItems, new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.Address)
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(r => r.Entrance)
                @Html.TextBoxFor(r => r.Entrance, new { @class = "form-control" })
                @Html.ValidationMessageFor(r => r.Entrance)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(r => r.SettingNumber)
                @Html.TextBoxFor(r => r.SettingNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(r => r.SettingNumber)
            </div>
        </div>
        <input type="submit" value="Зарегистрироваться" class="btn btn-primary center-block"/>
    }
</body>
